:root {
  --brand-blue: #1d5fa0;
  --foreground: #fff;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.loginContainer {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--foreground);

}

.formPanelLeft, .formPanelRight {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPanelLeft {
  background-color: var(--foreground);
  z-index: 1;
}

.formPanelRight {
  background-color: var(--brand-blue); 
  z-index: 1;
  background-image: url('/img/fundo.png');
 background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  transition: transform 0.8s ease-in-out;
}

.overlayPanelLeft {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #0c5091, 
    #1168ae,
    #1581c7,
    #1590da 
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}


.overlayPanelRight {
  width: 50%;
  height: 100%;
  background-color: #fff; 
  background-image: url('/img/fundo2.jpg');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}


.loginContainer.reveal .overlayContainer {
  transform: translateX(100%);
}


.carWrapper {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 300px;
  transition: transform 0.7s ease-in, opacity 0.6s ease-in;
}

.carImage {
  width: 100%;
  height: auto;
}


.loginContainer.reveal .carWrapper {
  transform: translate3d(200px, -50%, -600px) scale(0.1) rotateY(15deg);
  opacity: 0;
}