:root {
  --brand-blue: #1d5fa0;
  --foreground: #fff;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.loginContainer {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--foreground);

}

.formPanelLeft, .formPanelRight {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPanelLeft {
  background-color: var(--foreground);
  z-index: 1;
}

.formPanelRight {
  background-color: var(--brand-blue); 
  z-index: 1;
  background-image: url('/img/fundo.png');
 background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  transition: transform 0.8s ease-in-out;
  background-image: url('/img/fundo2.png');
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}



.overlayPanelLeft {
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
padding: 40px 40px 40px 120px;
  background: linear-gradient(to right, rgba(28, 74, 140, 0.95), rgba(28, 74, 140, 0));
  align-items: flex-start;
  text-align: left; 
}

.overlayPanelRight {
  width: 50%;
  height: 100%;

  
  background: transparent;
}

.loginContainer.reveal .overlayContainer {
  transform: translateX(100%);
}

.loginContainer.reveal .carWrapper {
  transform: translate3d(200px, -50%, -600px) scale(0.1) rotateY(15deg);
  opacity: 0;
}