:root {
  --brand-blue: #0e5a91;
  --foreground: #fff;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Container principal */
.loginContainer {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--foreground);

}

/* Parte de baixo */
.formPanelLeft, .formPanelRight {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPanelLeft {
  background-color: var(--foreground);
  z-index: 1;
}

.formPanelRight {
  
  background-color: var(--brand-blue); 
  z-index: 1;
  
background-image: url('/img/fundo_claro.png');
  
 background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Overlay (andar de cima) */
.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  transition: transform 0.8s ease-in-out;
}

/* Painel esquerdo azul */
.overlayPanelLeft {
  width: 50%;
  height: 100%;
  background-color: var(--brand-blue);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

/* Painel direito com imagem */
.overlayPanelRight {
  width: 50%;
  height: 100%;
  background-color: #fff;
  background-image: url('/img/fundo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Quando ativa a transição */
/* <-- MUDANÇA 2: Corrigido o seletor (estava faltando .loginContainer) */
.loginContainer.reveal .overlayContainer {
  transform: translateX(100%);
}

/* Carro */
.carWrapper {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 300px;
  transition: transform 0.7s ease-in, opacity 0.6s ease-in;
}

.carImage {
  width: 100%;
  height: auto;
}

/* Efeito do carro ao sair */
/* <-- MUDANÇA 3: Corrigido o seletor e a animação */
.loginContainer.reveal .carWrapper {
  /*
    Move 200px para a direita (direção da fábrica)
    Move -600px para "frente" (eixo Z, para longe)
    Gira um pouco para dar realismo
  */
  transform: translate3d(200px, -50%, -600px) scale(0.1) rotateY(15deg);
  opacity: 0;
}