.margem_menu{
  margin-top: 30% !important;
}

.btn.user-menu-button {
  transition: all 0.3s ease;
  background-color: white;
  box-shadow: none;
}

.btn.user-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  color: #f8f9fa;
}

.btn.user-menu-button:active {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #f8f9fa !important;
}

.btn.user-menu-button .fw-semibold {
  color: #0d6efd;
}

.btn.user-menu-button:hover .fw-semibold {
  color: #f8f9fa; /* Cor branca */
}